body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: palevioletred;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
}

.login{
    background-color: #fff;
    width: 350px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

.login h2{
    margin: 0 0 20px;
    width: 100%;
    margin-bottom: 25px;
}

.login .input{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.login .input input{
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 12px;
    border: 3px solid black;
    border-radius: 10px;
}

.login .input span{
    position: absolute;
    top: 12px;
    left: 20px;
    padding: 0px;
    text-transform: capitalize;
    background-color: #fff;
    transition: 0.5s;
}

.login .input input:focus ~ span,
.login .input input:valid ~ span{
    top: -12px;
    left: 20px;
    font-size: 12px;
    padding: 2px 4px;
    border: 1px solid #000;
    border-radius: 5px;
}

.login .input input[type="submit"]{
    background-color: palevioletred;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: 35%;
    transition: 0.5s;
}